.stripe-mb0 {
	margin-bottom: 0px
}
.stripe-mt16 {
	margin-top: 16px
}
.stripe-fr {
	float: right}

}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 580px !important;
}
